{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<!-- Jumbotron -->
<div class="jumbotron text-center mdb-color aqua-gradient">

    <!-- Title -->
    <h2 class="card-title h2">DHARSHAN KESAVAN</h2>

    <!-- Subtitle -->
    <p class="my-4 h6">
        Technology Lead at Infosys <br>
        RPA, C#, .NET, Python, SQL, SSIS, HTML, JavaScript, Data Science <br>
        Experienced in Lead & Manage Team, Project Planning, Guide offshore programmers, Working with Clients <br>
    </p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
        <!-- Grid column -->
        <div class="col-xl-7 pb-2">
            <img class="rounded-circle z-depth-4" alt="100x100" src="/media/portfolio/images/profilepic.jpeg"
                 data-holder-rendered="true">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="py-5 px-4">
                Technology Lead at Infosys Ltd, having 8 years of experience in UI and .NET development and RPA
                Automation.
                Looking for an opportunity that allow me to leverage my creativity, leadership and build new programs
                from ground up.
                I have ample expertise in UI development, Support and maintenance of Web Applications and Databases,
                Automation using varies tools like UI Path, Assist Edge.
                Along with this I have proven my skills in leading the team through tough times and achieving the goal.
                I have been working these many years in disciplined and systematic manner added hard work with
                smartness.
            </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">
            <p class="my-4 h6">
                Find me here..... <i class="far fa-hand-point-down"></i>
            </p>
            <!--Twitter-->
            <a href="https://twitter.com/DharshanKesavan"><button type="button" class="btn btn-tw"><i class="fab fa-twitter"></i></button></a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/dharshankesavan/"><button type="button" class="btn btn-li"><i class="fab fa-linkedin-in"></i></button></a>
            <!--Instagram-->
            <a href="https://www.instagram.com/dharshankesavan/"><button type="button" class="btn btn-ins"><i class="fab fa-instagram" ></i></button></a>
        </div>

        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-4 rgba-white-light">
    <hr class="my-4 rgba-white-light">
</div>
<!-- Jumbotron -->

{% endblock %}