{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron card card-image"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>A Place for learning Programming and new
                topics</strong></h2>
            <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
                qui, dolorum!
            </p>
            <a class="btn btn-outline-white btn-md" href="{% url 'blog:all_blogs' %}"><i class="fas fa-laptop"></i> View
                Blogs</a>
        </div>
    </div>
</div>
<!-- Jumbotron -->


<h2 class="mt-5">Portfolio</h2>
<hr>

<!-- Card deck -->
<div class="card-deck">
    {% for project in projects %}
    <!-- Card -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src={{ project.image.url }}
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">{{ project.title }}</h4>
            <!--Text-->
            <p class="card-text">{{ project.description }}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            {% if project.url %}
            <a href="{{ project.url }}">
                <button type="button" class="btn btn-success btn-rounded">Read more</button>
            </a>
            {% endif %}
        </div>

    </div>
    <!-- Card -->
    {% endfor %}
</div>
<!-- Card deck -->

<h2 class="mt-5">Latest Blogs from Authors</h2>
<hr>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for blog in blogs %}
        <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
            <div class="card text-center deep-blue-gradient">
                <div class="card-header">
                    New and Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.description|striptags|truncatechars:100 }}</p>
                    <!-- Post data -->
                    <p>From <a class="font-weight-bold">{{ blog.category }}</a>, {{ blog.date|date:'M d Y'|upper }}</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md mx-0 btn-rounded" href="{% url 'blog:detail' blog.id %}">Show Me
                        More</a>
                </div>
                <div class="card-footer text-muted">
                    {{blog.get_time_diff}} ago
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--Controls-->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-caret-square-left fa-3x"></i></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-caret-square-right fa-3x"></i></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>



    {% endblock %}