{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center mdb-color #9e9e9e grey mx-2 mb-5">
    <div class="text-black text-center py-5 px-4">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{ blog.title }}</strong></h2>
            <h5 class="text-center text-muted mb-5"><strong>{{ blog.date|date:'F jS Y' }} </strong></h5>
            <hr/>
            <p class="mx-5 mb-5">
                {{ blog.description|safe }}
            <p>
        </div>
    </div>
</div>

{% endblock %}